root = true

## Line Endings ##
[*]
end_of_line = lf
insert_final_newline = true
max_line_length = 120

## Charset ##
[*.{meta,cs}]
charset = utf-8

## Indentation Style ##
[*.cs]
indent_style = space
indent_size = 4

## JSON Format ##
[*.json]
indent_style = space
indent_size = 2
